# Copyright (c) 2019 ZettaDB inc. All rights reserved.
# This source code is licensed under Apache 2.0 License,
# combined with Common Clause Condition 1.0, as detailed in the NOTICE file.

# MySQL client connection timeout in seconds
mysql_connect_timeout = 3

# MySQL client read timeout in seconds
mysql_read_timeout = 3

# MySQL client write timeout in seconds
mysql_write_timeout = 3

# MySQL client max packet size in bytes.
mysql_max_packet_size = 1073741824

# NO. of times a SQL statement is resent for execution when MySQL connection broken.
statement_retries = 2

# Interval in milli-seconds a statement is resent for execution when it fails and we believe MySQL node will be ready in a while.
statement_retry_interval_ms = 1000

##################################################################
# for log file

# Log verbosity or amount of details, options are(in increasing details):
# {ERROR, WARNING, INFO, LOG, DEBUG1, DEBUG2, DEBUG3}.
log_verbosity = INFO

# 100MB, if log grows larger than this it's rotated
max_log_file_size = 100

# log file path and name
log_file = ../log/sys_cluster_mgr.log

# log file path and name
cluster_mgr_tmp_data_path = ../data

##################################################################
# for cluster working

#Number of worker threads to create and maintain.
num_worker_threads=5

# Interval in seconds a shard's two checks should be apart
check_shard_interval = 3

# Interval in seconds a thread waits after it finds no work to do.
thread_work_interval = 2

# Interval in seconds a thread waits next storage stats sync.
storage_sync_interval = 60

# Interval in hours a thread waits next commit_log clear.
commit_log_retention_hours = 24

##################################################################
# for meta

# meta server group seeds, note: no space in the middle of string
# only one seed in no_rep mode, must three or more seeds in mgr/rbr mode
meta_group_seeds = 192.168.0.128:58100,192.168.0.128:58103,192.168.0.128:58106
#meta_group_seeds = 192.168.0.128:58100

# meta data server user account
meta_user = pgx

# meta data server user's password 
meta_pwd = pgx_pwd

##################################################################
# for raft

# specify the raft group memeber config, comma seperate formation, must stop with comma
raft_group_member_init_config = 192.168.0.128:58001:0,

# raft server listen port
brpc_raft_port = 58001

# cluster_mgr ip
local_ip = 127.0.0.1

##################################################################
# for web http interface

# cluster mgr http port
brpc_http_port = 58000

# program_binaries_path
program_binaries_path = /home/kunlun/program_binaries

# instance_binaries_path
instance_binaries_path = /home/kunlun/instance_binaries

# storage_prog_package_name
storage_prog_package_name = kunlun-storage-0.9.1

# computer_prog_package_name
computer_prog_package_name = kunlun-server-0.9.1

# computer instance port start
computer_instance_port_start = 58200

# storage instance port start
storage_instance_port_start = 58500

# prometheus path
prometheus_path = /home/kunlun/program_binaries/prometheus

# prometheus port start
prometheus_port_start = 58010

