# MySQL client connection timeout in seconds
mysql_connect_timeout = 3

# MySQL client read timeout in seconds
mysql_read_timeout = 3

# MySQL client write timeout in seconds
mysql_write_timeout = 3

# MySQL client max packet size in bytes.
mysql_max_packet_size = 1073741824

# Log verbosity or amount of details, options are(in increasing details):
# {ERROR, WARNING, INFO, LOG, DEBUG1, DEBUG2, DEBUG3}.
log_verbosity = INFO

#Number of worker threads to create and maintain.
num_worker_threads=6

# Interval in seconds a shard's two checks should be apart
check_shard_interval = 3

# Interval in seconds a thread waits after it finds no work to do.
thread_work_interval = 1

# Interval in seconds a thread waits next storage stats sync.
storage_sync_interval = 60

# Interval in hours a thread waits next commit_log clear.
commit_log_retention_hours = 24

# 100MB, if log grows larger than this it's rotated
max_log_file_size = 100

# log file path and name
log_file = ./cluster_mgr.log

# meta data server listening port 
meta_port = 6001

# meta data server ip address
meta_host = 127.0.0.1

# meta data server user account
meta_user = pgx

# meta data server user's password 
meta_pwd = pgx_pwd

# NO. of times a SQL statement is resent for execution when MySQL connection broken.
statement_retries = 3

# Interval in milli-seconds a statement is resent for execution when it fails and we believe MySQL node will be ready in a while.
statement_retry_interval_ms = 1000

# Number of job threads to create.
num_job_threads=6

# Number of http threads to create.
num_http_threads=6

# http web path
http_web_path = ./web

# http upload path
http_upload_path = ./upload

# cluster_mgr http server port
cluster_mgr_http_port = 57000

# node_mgr http server port
node_mgr_http_port = 57001

# http cmd version
http_cmd_version = 0.9

# cluster create json path
cluster_json_path = ./cluster_json

# program_binaries_path
program_binaries_path = ../../../program_binaries

# instance_binaries_path
instance_binaries_path = ../../../instance_binaries

# storage_prog_package_name
storage_prog_package_name = kunlun-storage-0.9.1

# computer_prog_package_name
computer_prog_package_name = kunlun-server-0.9.1

# storage instance port start
storage_instance_port_start = 57330

# computer instance port start
computer_instance_port_start = 57030

# prometheus path
prometheus_path = ../../../program_binaries/prometheus

# prometheus port start
prometheus_port_start = 57010

